{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container">
        <h1>Réinitialiser votre mot de passe</h1>
        <p>Cette fonctionnalité est en cours de développement.</p>
    </div>
{% endblock %}
