{# templates/historique/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier un Historique{% endblock %}

{% block main_content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center text-primary">Modifier l'Historique</h1>

    {% include 'historique/_form.html.twig' with {'button_label': 'Mettre à jour'} %}

    <div class="text-center mt-3">
        <a href="{{ path('app_historique_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>

    <div class="mt-2 text-center">
        {% include 'historique/_delete_form.html.twig' %}
    </div>
</div>
{% endblock %}
